<%- include("header.ejs") %>
    
    <body>

        <div class="border border-dark-subtle rounded-5">
            <h1>From the information you provided:</h1>
            <p><%= locals.yourName %></p>
            <p><%= locals.yourBirthYear %></p>
            <p><%= locals.yourGenre %></p>

            <h1>Your selected tv show is:</h1>
            <p><%= tvshow %></p>
            <p><%= year %></p>
            <p><%= genre %></p>

        </div>

        
    </body>

<%- include("footer.ejs") %>




