<%- include("header.ejs") %>

<body>
  <div id="result-page" class="border border-dark-subtle rounded-5">
    <h2><%= yourName %>,</h2>
    <p>your selected tv show is:</p>
    <p><span style="font-weight:bold ">TV Show:</span> <%= tvshow %></p>
    <p><span style="font-weight:bold ">Premiered:</span> <%= year %></p>
    <p><%= genre %></p>
  </div>
</body>

<%- include("footer.ejs") %>
